.temp-box{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;


}
h1{
    padding: 10px;
    text-align: center;
    color: rgb(69, 116, 170);
}
.box{
    display: flex;
    margin-bottom: 20px;
    align-content: center;
}
.box-content{
    border: 2px solid rgb(69, 116, 170);
    width: 400px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    min-height: 200px;
    background-color: rgb(137, 137, 207);
}
.temp-value{
    border: 3px solid   rgb(69, 116, 170);
    font-size: 40px;
    display: flex;
    padding: 10px;
    margin: 5px;
    background-color: rgb(143, 193, 233);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-out;
    color: white;
}
.buttons{
    display: flex;
    gap: 4rem;
    padding: 20px;
    justify-content: center;
}
.btn{
    cursor: pointer;
    border: 15px solid rgb(90, 90, 135);
    border-radius: 50%;
    font-size: 60px;
    width: 150px;
    height: 150px;
    outline: none;
    background-color: rgb(192, 200, 106);
    transition: 0.3s ease-out;
}
.btn:focus{
    outline: none;
    transform: scale(1.1);
    background-color: rgb(229, 237, 134);
    transition: 0.3s ease-out;
}
.btn:hover{
    background-color: rgb(229, 237, 134);
}
.temp-value-high{
    border: 3px solid   rgb(69, 116, 170);
    font-size: 40px;
    display: flex;
    padding: 10px;
    margin: 5px;
    background-color: rgb(202, 101, 101);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-out;
    color: rgba(255, 255, 255, 0.724);
}